.title {
    display: flex;
    justify-content: center;
}

#canvasDiv {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#boardSize {
    width: 40px;
}